*{
    box-sizing: border-box;
    margin: 0;
}
body{
  background-color:#d5c6ba ;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color:#c7b8ab;
  }
  
  .logo {
    padding-left: 7%;
    margin-right: 7%;
  }
  
  .menu {
    flex-grow: 1;
  }
  
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }
  
  .menu li {
    margin-right: 50px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a,
  .menu .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
  }
  
  .menu a {
    color: #000;
    text-decoration: none;
  }
  
  .menu .active {
    color: #fff;
    background-color: #ff3d00;
    border-radius: 8px;
  }
main .main_promo_text{
    position: absolute;
    color: #1f1f1f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    line-height: 45px;
    top: 25vh;
    left: 2vw;
    font-family: 'Bruno Ace', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Titan One', cursive;
}

.block{
    position: relative;
    max-width: 415px;
    width: 100%;
    background: #e3d4c8;
    box-shadow: 0px 6px 50px rgb(177, 160, 142);
    border-radius: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 200px;
    padding-bottom: 200px;
    left: 0px;
    top: 130px;
}

.text{
    position: absolute;
    color: #1f1f1f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    top: 15vh;
    left: 100px;
    font-family: 'Bruno Ace', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Titan One', cursive;
}

.img{
    position:absolute;
    left:113px;
    top:190px;
    }

.mas{
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#bcb2aa;
  min-height: 70px;
  width: 100%;
  margin-top: auto;
}
footer .footer_text{
  color:#413028;
  font-weight: 500;
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
